/* titleimages */
.background-weingut, .background-geschichte, .background-keller{
    background-size: cover;
    background-position: center;
}
.background-weinberge{
    background-size: cover;
    background-position: bottom center;
}

/* container */
.container, .container-center {
    display: flex;
    text-align: justify;
    background-color: #dddddd;
}
.weinberg_text>p {
    text-align: justify;
}

/* Weinberg */
.weinberg_text {
    text-align: left;
}
/* Vinothek */
.vinothek-link {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.weingut-address {
    color: black;
    text-decoration: underline;
}

/* Mobile max. 480px */
@media only screen and (max-width: 480px) {

    .container,
    .container-center {
        flex-wrap: wrap;       
        max-width: 100vw;
    }
    .container_image {
        width: 100vw;
        max-width: 100vw;
        max-height: 35vh; 
        /* margin-top: 2vh; */
        margin-bottom: 3vh;
    }
    .container_text {
        margin-bottom: 3vh;
    }

    /* Geschichte  */
    .generation_image {
        width: 70%;
        height: 100%;
        margin-left: 15%;
        margin-right: 15%;
    }

    /* Vinothek */
    .vinothek_image {
        height: 100%;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    /* Weinberge */
    .weinberge_image {
        width: 100%;
        height: 100%;
    }
}

/* Tablet min. 480 max. 1024px */
@media only screen and (min-width: 480px) and (max-width: 1024px){
    .container,
    .container-center {
        flex-wrap: wrap;       
        max-width: 100vw;
    }
    .container_image {
        width: 100vw;
        max-width: 100vw;
        height: 35vh;
        max-height: 50vh; 
        /* margin-top: 2vh; */
        margin-bottom: 2vh;
    }
    /* .container_text {
        margin-bottom: 3vh;
    } */

    /* Geschichte  */
    .generation_image {
        width: 40%;
        height: 100%;
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 2vh;
    }

    /* Vinothek */
    .vinothek_image {
        height: 100%;
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
    }

    /* Weinberge */
    .weinberge_image {
        width: 70%;
        height: 100%;
        margin-left: 15%;
        margin-right: 15%;
    }
}

/* max. 1024px landscape */
@media only screen and (max-width: 1024px) and (orientation: landscape) {
    
    .container,
    .container-center {
        flex-wrap: wrap;       
        max-width: 100vw;
    }
    .container_image {
        width: 100vw;
        max-width: 100vw;
        height: 40vh;
        max-height: 50vh; 
        margin-bottom: 2vh;
    }
    /* .container_text {
        margin-bottom: 3vh;
    } */

    /* Geschichte  */
    .generation_image {
        width: 20%;
        height: 100%;
        margin-left: 40%;
        margin-right: 40%;
    }

    /* Vinothek */
    .vinothek_image {
        height: 100%;
        width: 20%;
        margin-left: 40%;
        margin-right: 40%;
    }

    /* Weinberge */
    .weinberge_image {
        width: 40%;
        height: 100%;
        margin-left: 30%;
        margin-right: 30%;
    }

  }


/* Desktop min. 1024px */
@media only screen and (min-width: 1024px) {
    .container,
    .container-center {
        flex-wrap: wrap;       
        margin: 4vh 0;
        max-width: 100vw;
        justify-content: center;
    }
    .container {
        align-items: center;
    }
    /* center images in height next to text in Weinberge, Keller and Vinothek */
    .container-center {
        align-items: center;
    }
    .container_image {
        width: 30%;
        max-width: 50%;
        margin-top: 2vh;
        text-align: center;
    }
    .container_text {
        width: 65%;
        max-width: 80%;
        margin-top: 2vh;
        text-align: justify;
    }
    /* Geschichte  */
    .generation_image {
        width: 80%;
        max-width: 80%;
        margin: 0 10% 2vh 10%;
    }
    /* Weinberge, Vinothek */
    .weinberge_image {
        width: 90%;
        max-width: 90%;
        padding-left: auto;
        padding-right: auto;
    }
    .vinothek_image {
        height: auto;
        width: 80%;
    }
}
