.weinberg_text {
    text-align: left;
}
.vinothek-link{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}
@media only screen and (min-width: 64em) {
    .container, .container-center{
        display: flex;
        flex-wrap: wrap;
        /* border: 3px solid black; */
        margin: 2% 2%;
        max-width: 96%;
        justify-content: center;
        background-color: #dddddd;
        /* height: 40rem; */
        /* margin: 15px; */
    }
    .container {
        align-items: flex-start;
    }
    .container-center{
        align-items: center;
    }
    .container_image {
        /* border: 3px solid blue; */
        width: 30%;
        max-width: 50%;
        margin: 10px;
        text-align: center;
    }
    .container_text {
        /* border: 3px solid red; */
        width: 65%;
        max-width: 80%;
        /* margin: 10px; */
    }
    /* Geschichte  */
    .generation_image {
        /* border: 3px solid blue; */
        width: 70%;
        /* height: 60%; */
        max-width: 80%;
        margin: 5%;
        margin-right: 0;
        /* border: 1px solid black; */
        height: 30rem;
        padding-left: auto;
        padding-right: auto;
    }
    /* Weinberge, Vinothek */
    .weinberge_image {
        width: 90%;
        max-width: 90%;
        padding-left: auto;
        padding-right: auto;
    }
    .vinothek_image {
        height: auto;
        width: 80%;
    }
    
}


