
html {
    font-family: "Montserrat", sans-serif;
  }
body {
    background: white;
    padding: 0 0;
  }

.container-header {
  margin-bottom: 2%;
}

/* default page style*/ 
.defaultsite {
    margin: 3% 0 1% 0;
    padding: 2% 0;
}

.defaultsite p {
margin-right: 5%;
margin-left: 5%; 
font-size: 1.5rem;
}

.defaultsite h1 {
    text-align: center;
}

.textbox {
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 15px;;
}

/* Images */
.titleimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  display:block;
  width:100%;
 /* max-width: 94%; */
  height: 45rem;
  max-height: 50rem;
  margin-bottom: 1rem;
  /* margin: 3%; */
  padding-top: 3%;
}