
html {
    font-family: "Montserrat", sans-serif;
  }
body {
    background: white;
    padding: 0 0;
  }

  footer {
    margin-bottom: 0;
  }
/* default page style*/ 
/* .defaultsite {
  overflow: hidden;
} */

.defaultsite p, .defaultsite table, .defaultsite ul {
margin-right: 5%;
margin-left: 5%; 
font-size: 1.5rem;
}

.defaultsite h1 {
    text-align: center;
}


/* Textboxes */
.textbox-titleimage, .textbox{
  background-color: #dddddd;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 3%;
  margin-top: 1%;
  padding-bottom: 1rem;
  /* padding-bottom: 1rem; */
}


/* Title-Images */
.titleimage-container{
  width: 100%;  
  margin-top: 8%;
  margin-bottom: 1%;
  height: 70vh;
  background-repeat: no-repeat;
}
/* .titleimage {
  width: 100%; 
} */
  /* Deskopt, Laptop Size 1024px*/
/* @media only screen and (min-width: 64em)  {
  h1{
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    
  }
  .titleimage-container{
   height: 90vh; 
   max-height: 90vh;  
   width: 100vw; 
   background-position: top center;
   background-size: cover;
  }
  .titleimage {
  /* overflow: hidden;
  object-fit: fill; */
  /* width: 100%;
  height: 90%;
  padding: 4vh 0 0 0;
  } */
/* } */ 
/* @media only screen and (min-width: 1200px)  {
  .titleimage-container{
   height: 80vh; 
   max-height: 80vh;   
  }
  .titleimage {
  overflow: hidden;
  /* object-fit: cover; */
  /* height: 90%;
  padding: 2% 0 0 0;
  margin: 0;
  } 
  }*/

