
html {
    font-family: "Montserrat", sans-serif;
  }
body {
    background: white;
    padding: 0 16px;
  }

.container-header {
  margin-bottom: 2%;
}

/* default page style*/ 
.defaultsite {
    margin: 3%;
    padding: 2%;
   
}

.defaultsite h1 {
    text-align: center;
}

/* Images */
.titleimage {
    width: 94%;
    height: auto;
    margin: 3%;
    padding-top: 3%;
}