/* Navbar */
.headnavbar {
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 80%;
    /* text-align: center; */
    background-color: white;
    margin-left: 7%;
    margin-right: 7%;
    font-size: large;
    font-weight: bold;
    
  }
  .navbarlink {
    color: black; 
    margin-left: 8%;
    margin-right: 8%;
  }

  .nav-logo {
    margin-top: 0;
    padding-top: 0;
  }
/* 
  .navbarlink:hover {
    background-color: #ddd;
  } */
 