/* Navbar */
.headnavbar {
    display: flex;
    align-items: baseline;
    width: 80%;
    text-align: center;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    font-size: large;
    font-weight: bold;
    
  }
  .navbarlink {
    color: black; 
    margin-left: 8%;
    margin-right: 8%;
  }

  .nav-logo {
    margin-top: 0;
    padding-top: 0;
  }

  .headnavbar.navelement{
    margin-left: 1%;
    margin-right: 1%;
    justify-content: center;

   
  }