.headnavbar {
  display: flex;
  background-color: white;
}

.navbar-toggler {
  background-color: white !important;
}

@media only screen and (max-width: 991px) {
  .navbar-notshow {
    display: none;
  }
  .navbar-show {
    display: contents;
  }
  .navbar-mobile {
    max-height: 18vh;
  }

  .headnavbar {
    display: flex;
    align-items: baseline;
    width: 100%;
    text-align: center;
    font-weight: bold;
    top: 0;
    max-height: 60vh;
    overflow-y: scroll;
  }

  .logo-desktop {
    visibility: hidden;
    display: none;
  }
  .logo {
    padding: 0;
    margin: 0;
  }

  .navbarlink {
    color: black;
    margin-left: auto;
    margin-right: auto;
  }

  .dropdown-menu {
    border: hidden;
    text-align: center;
  }
}

/* Desktop min. 1024px */
@media only screen and (min-width: 992px) {
  .navbar-notshow,
  .navbar-show {
    display: contents;
  }
  .headnavbar {
    justify-content: center;
    align-items: baseline;
    width: 100vw;
    margin-left: 7vw;
    margin-right: 7vw;
    font-size: large;
    font-weight: bold;
  }
  .navbar-collapse {
    max-width: 100vw;
    width: 90vw;
  }

  .logo-mobile {
    visibility: hidden;
    display: none;
    position: fixed top center;
  }

  .navbarlink {
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
  }

  .logo {
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbarlink.nav-link.weine {
    margin-left: 0;
    width: 12rem;
  }

  .nav-logo {
    margin-top: 0;
    padding-top: 0;
  }
}
