/* footer */

footer {
  width: 100%;
  text-align: center;
  background-color: grey;
  margin-left: 0;
  margin-right: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  bottom: 0;
}
footer p {
  margin-top: 1rem;
}
.footerelements{
  margin-left: 30px;
  margin-right: 30px;
}
.socialicon {
  margin-left: 30px;
  margin-right: 30px;
  color: black;
}