.background-weine-qp{
    background-size: contain;
    background-position: center center;
    margin-bottom: 3vh;
}
/* .weine_image {
    display: block;
    text-align: center;
    margin: 5% auto 3% auto;
} */

.weine-container {
    display: flex;
    flex-wrap : wrap;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content : space-between;
    align-items : center;
    /* background-color: #dddddd; */
    border: solid black 1px;
    padding: 1%;
    margin-bottom: 1%;
}
.weine-container h1{
    text-align: start;
}

.weine-container_image_1 {
    /* border: 3px solid blue; */
    width: 30%;
    max-width: 30%;
    height: 20%;
}
.weine-container_text {
    /* border: 3px solid red; */
    width: 30%;
    max-width: 30%;
    height: 20%;
}
.weine-container_image_2 {
    /* border: 3px solid blue; */
    width: 35%;
    max-width: 35%;
    height: 20%;
 
}

.qp-image{
    height: 100%;
    width: 100%;
}
.qp-image-rohling{
    height: 90%;
    width: 100%;
}

