.background-weine-qp{
    background-size: contain;
    background-position: center center;
    margin-bottom: 3vh;
}

.weine-container {
    display: flex;
    max-width: 100vw;
    border: solid black 1px;
}
.weine-container_text {
    text-align: justify;
}
.weine-container_text p {
    margin: 2%
}

/* Mobile max. 480px */
@media only screen and (max-width: 480px) {
    .background-weine-qp{
        max-height: 30vh;
    }
    .weine-container {
        margin-bottom: 1vh;
        padding-top: 1vh;
        flex-wrap : wrap;
    }
    .weine-container_image_1 {
        width: 35vw;
        max-width: 50vw;
        height: 15vh;
        order: 1;
        margin-left: 5vw;
        margin-right: 10vw;
    }
    .weine-container_image_2 {
        width: 45vw;
        max-width: 50vw;
        height: 15vh;
        order: 2;
    }
    .weine-container_text {
        margin-top: 1vh;
        width: 100%;
        max-width: 100%;
        height: 20%;
        order: 3;
    }
    .qp-image{
        height: 100%;
        width: 100%;
    }
    .qp-image-rohling{
        height: 100%;
        width: 100%;
    }
}

/* Tablet min. 480 max. 1024px */
@media only screen and (min-width: 480px) and (max-width: 1024px){
    .background-weine-qp{
        max-height: 40vh;
    }
    .weine-container {
        margin-bottom: 1vh;
        padding-top: 1vh;
        flex-wrap : wrap;
    }
    .weine-container_image_1 {
        width: 35vw;
        max-width: 50vw;
        height: 22vh;
        order: 1;
        margin-left: 5vw;
        margin-right: 10vw;
    }
    .weine-container_image_2 {
        width: 45vw;
        max-width: 50vw;
        height: 22vh;
        order: 2;
    }
    .weine-container_text {
        margin-top: 1vh;
        width: 100%;
        max-width: 100%;
        height: 20%;
        order: 3;
    }
    .qp-image{
        height: 100%;
        width: 100%;
    }
    .qp-image-rohling{
        height: 100%;
        width: 100%;
    }
}

/* max. 1024px landscape */
@media only screen and (max-width: 1024px) and (orientation: landscape) {
    .background-weine-qp{
        margin-top: 15vh;
        max-height: 40vh;
    }
    .weine-container {
        margin-left: auto;
        margin-right: auto;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content : space-between;
        padding: 2vh;
        margin-bottom: 2vh;
        height: 50vh;
    }
    .weine-container h1{
        text-align: start;
        font-size: 1.5rem;
    }
    .weine-container_image_1 {
        width: 25vw;
        max-width: 30vw;
        height: 45vh;
        order: 1;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .weine-container_text {
        width: 30vw;
        max-width: 35vw;
        height: 45vh;
        max-height: 50vh;
        order: 2;
    }
    .weine-container_image_2 {
        width: 30vw;
        max-width: 35vw;
        height: 45vh;
        order: 3;
    }
    .qp-image{
        height: 100%;
        width: 100%;
    }
    .qp-image-rohling{
        height: 100%;
        width: 100%;
    }
}

/* Desktop min. 1024px */
@media only screen and (min-width: 1025px) {
    .weine-container {
        margin-left: auto;
        margin-right: auto;
        justify-content : space-between;
        align-items : center;
        padding: 2vh;
        margin-bottom: 2vh;
    }
    .weine-container h1{
        text-align: start;
    }
    .weine-container_image_1 {
        width: 30vw;
        max-width: 30vw;
        height: 50vh;
    }
    .weine-container_text {
        width: 30vw;
        max-width: 30vw;
        height: auto;
    }
    .weine-container_image_2 {
        width: 35vw;
        max-width: 35vw;
        height: 50vh;
    }
    .qp-image{
        height: 100%;
        width: 100%;
    }
    .qp-image-rohling{
        height: 100%;
        width: 100%;
    }
}