.background-weine-qp {
    background-size: contain;
    background-position: center center;
    margin-bottom: 3vh;
}

.background-weinlinie {
    background-size: cover;
    background-position: center center;
    max-width: 95vw;
}

.weinlinie-container {
    display: flex;
    max-width: 100vw;
}

.weinlinie-button {
    background-color: grey !important;
    width: 120px !important;
    border: none !important;
}

.weine-container {
    display: flex;
    max-width: 100vw;
    border: solid black 1px;
}
.weine-container_text,
.weinlinie-container-text {
    text-align: justify;
}
.weine-container_text p {
    margin: 2%;
}

/* Mobile max. 480px */
@media only screen and (max-width: 480px) {
    /* QP */
    .background-weine-qp {
        max-height: 30vh;
    }
    .weine-container {
        margin-bottom: 1vh;
        padding-top: 1vh;
        flex-wrap: wrap;
    }
    .weine-container_image_1 {
        width: 35vw;
        max-width: 50vw;
        height: 15vh;
        order: 1;
        margin-left: 5vw;
        margin-right: 10vw;
    }
    .weine-container_image_2 {
        width: 45vw;
        max-width: 50vw;
        height: 15vh;
        order: 2;
    }
    .weine-container_text {
        margin-top: 1vh;
        width: 100%;
        max-width: 100%;
        height: 20%;
        order: 3;
    }
    .qp-image {
        height: 100%;
        width: 100%;
    }
    .qp-image-rohling {
        height: 100%;
        width: 100%;
    }

    /* Weinlinie */

    .background-weinlinie {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 2vh;
    }
    .weinlinie-h1 {
        margin-top: 5vh;
    }
    .weinlinie-container {
        max-width: 100vw;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 2vh;
        margin-bottom: 2vh;
        height: auto;
    }
    .weinlinie-container-image {
        width: 50vw;
        max-width: 50vw;
        height: 40vh;
        margin-bottom: 2vh;
    }
    .weinlinie-container-text {
        width: 90vw;
        max-width: 100vw;
        height: auto;
        margin-right: 1vw;
        margin-left: 1vw;
    }
    .weinlinie-container-text h1 {
        text-align: center;
        font-size: 1.5em;
    }
    .weinlinie-container-text p {
        margin-left: 0;
    }
    .weinlinie-image {
        display: block;
        height: 100%;
        width: 100%;
    }
    .weinlinie-button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Tablet min. 480 max. 1024px */
@media only screen and (min-width: 480px) and (max-width: 1024px) {
    /* QP */
    .background-weine-qp {
        max-height: 40vh;
        margin-top: 10vh;
    }
    .weine-container {
        margin-bottom: 1vh;
        padding-top: 1vh;
        flex-wrap: wrap;
    }
    .weine-container_image_1 {
        width: 35vw;
        max-width: 50vw;
        height: 22vh;
        order: 1;
        margin-left: 5vw;
        margin-right: 10vw;
    }
    .weine-container_image_2 {
        width: 45vw;
        max-width: 50vw;
        height: 22vh;
        order: 2;
    }
    .weine-container_text {
        margin-top: 1vh;
        width: 100%;
        max-width: 100%;
        height: 20%;
        order: 3;
    }
    .qp-image {
        height: 100%;
        width: 100%;
    }
    .qp-image-rohling {
        height: 100%;
        width: 100%;
    }

    /* Weinlinie */

    .background-weinlinie {
        height: 50vh;
        width: 90vw;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 2vh;
    }
    .weinlinie-h1 {
        margin-top: 5vh;
    }
    .weinlinie-container {
        max-width: 100vw;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 2vh;
        margin-bottom: 2vh;
        height: auto;
    }
    .weinlinie-container-image {
        width: 40vw;
        max-width: 45vw;
        height: 30vh;
        margin-right: 2vw;
    }
    .weinlinie-container-text {
        width: 90vw;
        max-width: 100vw;
        height: auto;
        min-height: 30vh;
        margin-right: 1vw;
        margin-left: 1vw;
    }
    .weinlinie-container-text h1 {
        text-align: center;
        font-size: 1.5em;
    }
    .weinlinie-container-text p {
        margin-left: 0;
    }
    .weinlinie-image {
        display: block;
        height: 100%;
        width: 100%;
    }
    .weinlinie-button {
        display: block;
        margin-left: auto;
        margin-right: 5vw;
    }
}

/* max. 1024px landscape */
@media only screen and (max-width: 1024px) and (orientation: landscape) {
    /* QP */
    .background-weine-qp {
        margin-top: 20vh;
        max-width: 95vw;
        margin-right: auto;
        margin-left: auto;
        height: 50vh;
        max-height: 60vh;
    }
    .weine-container {
        align-items: flex-start;
        margin-left: auto;
        margin-right: auto;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        padding: 2vh;
        margin-bottom: 2vh;
        height: auto;
    }
    .weine-container h1 {
        text-align: start;
        font-size: 1.5rem;
    }
    .weine-container_image_1 {
        width: 25vw;
        max-width: 30vw;
        height: 40vh;
        order: 1;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .weine-container_text {
        width: 30vw;
        max-width: 35vw;
        height: auto;
        margin-top: 0;
        margin-right: 2vw;
        order: 2;
    }
    .weine-container_text p {
        margin-right: 0;
        margin-left: 0;
    }
    .weine-container_image_2 {
        width: 30vw;
        max-width: 35vw;
        height: 35vh;
        order: 3;
    }
    .qp-image {
        height: 100%;
        width: 100%;
    }
    .qp-image-rohling {
        height: 100%;
        width: 100%;
    }

    /* Weinlinie */

    .background-weinlinie {
        height: 70vh;
        width: 80vw;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 2vh;
    }
    .weinlinie-h1 {
        margin-top: 5vh;
    }
    .weinlinie-container {
        max-width: 100vw;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 2vh;
        margin-bottom: 2vh;
        height: auto;
    }
    .weinlinie-container-image {
        width: 18vw;
        max-width: 25vw;
        height: 40vh;
        margin-bottom: 2vh;
        margin-right: 3vw;
        margin-left: 3vw;
    }
    .weinlinie-container-text {
        width: 90vw;
        max-width: 100vw;
        height: auto;
        min-height: 40vh;
        margin-right: 1vw;
        margin-left: 1vw;
    }
    .weinlinie-container-text h1 {
        text-align: center;
        font-size: 1.5em;
    }
    .weinlinie-container-text p {
        margin-left: 0;
    }
    .weinlinie-image {
        display: block;
        height: 100%;
        width: 100%;
    }
    .weinlinie-button {
        display: block;
        margin-left: auto;
        margin-right: 5vw;
    }
}

/* Desktop min. 1025px */
@media only screen and (min-width: 1025px) {
    /* QP */
    .weine-container {
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        align-items: center;
        padding: 2vh;
        margin-bottom: 2vh;
    }
    .weine-container h1 {
        text-align: start;
    }
    .weine-container_image_1 {
        width: 30vw;
        max-width: 30vw;
        height: 45vh;
    }
    .weine-container_text {
        width: 30vw;
        max-width: 30vw;
        height: auto;
        margin-right: 1vw;
        margin-left: 1vw;
    }
    .weine-container_image_2 {
        width: 35vw;
        max-width: 35vw;
        height: 45vh;
    }
    .qp-image {
        height: 100%;
        width: 100%;
    }
    .qp-image-rohling {
        height: 100%;
        width: 100%;
    }

    /* Weinlinie */
    .weinlinie-h1 {
        margin-top: 15vh;
    }
    .background-weinlinie {
        margin-top: 35vh;
        height: 80vh;
        margin-right: auto;
        margin-left: auto;
        width: 90vw;
        margin-top: 35vh;
        margin-bottom: 15vh;
    }
    .weinlinie-container {
        max-width: 95vw;
        min-height: 25vh;
        height: auto;
        max-height: 45vh;
        padding: 2vh;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2vh;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .weinlinie-container-image {
        width: 15vw;
        max-width: 20vw;
        margin-right: 5vw;
        height: 33vh;
    }
    .weinlinie-container-text {
        width: 90vw;
        max-width: 100vw;
        height: auto;
        margin-right: 1vw;
        margin-left: 1vw;
    }
    .weinlinie-container-text h1 {
        text-align: start;
    }
    .weinlinie-container-text p {
        margin-left: 0;
    }
    .weinlinie-image {
        display: block;
        height: 100%;
        width: 100%;
    }
    .weinlinie-button {
        display: block;
        margin-left: auto;
        margin-right: 5vw;
    }
}
