.weine_image {
    display: block;
    text-align: center;
    margin: 3% auto 2% auto;
}

.container {
    display: flex;
    flex-wrap : wrap;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content : space-between;
    align-items : flex-start;
}
.container_image {
    /* border: 3px solid blue; */
    width: 30%;
    max-width: 30%;
    height: 22rem;
}

.qp-image{
    height: 100%;
    width: 100%;
}

.container_text {
    /* border: 3px solid red; */
    width: 30%;
    max-width: 30%;
}