.background-aktuelles{
    background-size: cover;
    background-position: center center;
}

/* Termine */
#termine {
    position: relative;
}
.termine-table {
    display: inline-block;
}
.termine-table th, .termine-table td {
    vertical-align: top;
}
.termine-end{
    font-weight: bold;
}

/* Öffnungszeiten */
.oeffnungszeiten-list {
    list-style-type:none;
}

/* Mobile and Tablet max. 1024px */
@media only screen and (max-width: 1024px) {
    /* Termine */
    .termine-table td {
        text-align: left;
        padding-top: 2vh;
        padding-right: 5vw;        
    }
}


/* Desktop min. 1024px */
@media only screen and (min-width: 1025px) {
    .textbox-titleimage {
        min-height: 50vh;
    }
    .info-textbox{
        padding-top: 1rem;
    }
    /* Termine */
    .termine-table {
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .termine-table td {
        padding-right: 5vw;
    }
}